body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffffff;
  min-height: 100vh;
  overflow-x: hidden; 
  overflow-y: auto;   
}


.landing-wrapper {
  width: 100%;
}

/* Navbar */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  width:100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-icon {
  background: #3b82f6;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Hero Section */
.hero-section {
  text-align: center;
  padding: 4rem 1rem;
}

.hero-title {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.gradient-text {
  background: linear-gradient(to right, #3B82F6, #E879F9, #C084FC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-description {
  max-width: 1000px;
  margin: 1rem auto 2rem auto;
  font-size: 1.3rem;
  color: rgba(0,0,0,0.7);
  line-height: 1.6;
}

.hero-btn {
  background: #3b82f6;
  color: white;
  padding: 0.9rem 2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.3);
}

.hero-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(59, 130, 246, 0.4);
  background: #2563eb;
}


/* Buttons */
.btn-land {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-land-login-top {
  background: #3b82f6;
  color: #fff;
  padding: 0.5rem;
  width: 120px;
}

.btn-land-login {
  background: #3b82f6;
  color: #fff;
  padding: 1.5rem;
}

.btn-land-login:hover {
  background: #2563eb;
}

/* Features Section */
.features-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  padding: 2rem 1rem 4rem;
}

/* Feature Card */
.feature-card {
  flex: 1 1 250px;
  max-width: 250px;
  text-align: center;
  padding: 2rem;
  border-radius: 1.5rem;
  background: rgba(255,255,255,0.18);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 8px 45px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 55px rgba(0,0,0,0.35);
}

.feature-icon {
  font-size: 2.0rem;
  margin-bottom: 0.5rem;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
}

.feature-desc {
  font-size: 1.1rem;
  color: #1B3C53;
  text-align: justify;
}

